@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/*ОБНУЛЕНИЕ*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*КОНЕЦ ОБНУЛЕНИЯ*/


.container {
	max-width: 1140px;
	margin: 0px auto;
	padding: 0px 20px;
}

.background {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
	background: url(../img/Background.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 40px 10px;
}

.headernav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.buttonNAV {
	margin-left: 50px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: rgb(255, 255, 255);
}

.title {
	padding-bottom: 35%;
	font-family: 'Roboto';
	font-style: normal;
	color: rgb(255, 255, 255);
}

.h1 {
	display: flex;
	margin-bottom: 15px;
	font-weight: 600;
	font-size: 45px;
}

.subtitle {
	display: flex;
	font-weight: 400;
	font-size: 36px;
}


.main {
	flex: 1 1 auto;
	background-color: rgb(255, 249, 226);
}

.description {
	padding: 150px 0px;
}

.descriptioninfo {
	display: flex;
	padding: 10px 0px;
}

.h2 {
	display: flex;
	justify-content: center;
	padding: 45px;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-size: 40px;
	color: rgb(0, 0, 0);
}

.cutter {
	margin: 15px;
}

.text {
	text-align: justify;
	font-family: 'Roboto';
	font-style: normal;
	margin: 15px;
	font-weight: 400;
	font-size: 30px;
	color: rgb(0, 0, 0);
}

.products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.block	{
	display: flex;
	flex-direction: column;
}

.textimg {
	display: flex;
	justify-content: center;
	margin: 25px 0;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	color: rgb(0, 0, 0);
}

.gallery {
	padding: 120px 0px;
}


.footer {
	padding: 15px;
	background-color: rgb(156, 121, 75);
}

.socialmedia {
	display: flex;
	justify-content: center;
}

.icons {
	display: flex;
	flex-direction: row;
	padding: 15px;
}

.textCONTACTS {
	text-align: center;
	font-family: 'Roboto';
	font-style: normal;
	padding: 30px 0;
	font-weight: 400;
	font-size: 30px;
	color: rgb(0, 0, 0);
}

.swiper {
	width: 1000px;
	height: 500px;
  }

.swiper-button-prev::after {
	color: rgb(156, 121, 75);
}

.swiper-button-next::after {
	color: rgb(156, 121, 75);
}

.image-slide {
	text-align: center;
}
.image-slide img{
	height: 460px;
}

.map {
	max-width: 100%;
	display: flex;
	justify-content: center;
}


/*.BIG {
	
	white-space: nowrap;

	font-family: 'Roboto';
	font-style: normal;

	font-weight: 700;
	font-size: 500px;
	color: rgba(237, 218, 181, 0.39);

	position: absolute;
	top: 85%;
	left: 15%;
	z-index: -3;
	}
*/